In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [2]:
data = pd.read_csv('clean_measurements.csv')

In [3]:
data.head()

,distance,consume,speed,temp_inside,temp_outside,gas_type,AC,rain,sun,temp_dif,fuel_used,trip_cost
0,28.0,5.0,26,21.5,12,E10,0,0,0,9.5,1.4000,2.450000
1,12.0,4.2,30,21.5,13,E10,0,0,0,8.5,0.5040,0.882000
2,11.2,5.5,38,21.5,15,E10,0,0,0,6.5,0.6160,1.078000
3,12.9,3.9,36,21.5,14,E10,0,0,0,7.5,0.5031,0.880425
4,18.5,4.5,46,21.5,15,E10,0,0,0,6.5,0.8325,1.456875

#### Null hypothesis: the consumption of both types of fuel is the same.

In [4]:
consume_e10 = data[data['gas_type'] == 'E10']['consume']
consume_sp98 = data[data['gas_type'] == 'SP98']['consume']

t_stat, p_value = stats.ttest_ind(consume_e10, consume_sp98, equal_var=False)
alpha = 0.05

In [5]:
if p_value < alpha:
    print("Reject the null hypothesis: There is evidence that the consumption is different for both fuel types.")
else:
    print("Fail to reject the null hypothesis: There is not enough evidence to suggest a difference in consumption.")

Fail to reject the null hypothesis: There is not enough evidence to suggest a difference in consumption.

#### Second hypothesis: the trip price is the same for both types of fuel

In [6]:
trip_cost_e10 = data[data['gas_type'] == 'E10']['trip_cost']
trip_cost_sp98 = data[data['gas_type'] == 'SP98']['trip_cost']


t_stat, p_value = stats.ttest_ind(trip_cost_e10, trip_cost_sp98, equal_var=False)
alpha = 0.05

In [7]:
if p_value < alpha:
    print("Reject the null hypothesis: There is evidence that the trip price is different for both fuel types.")
else:
    print("Fail to reject the null hypothesis: There is not enough evidence to suggest a difference in trip price.")

Fail to reject the null hypothesis: There is not enough evidence to suggest a difference in trip price.